#root {
  background-color: #1e96f0;
  min-height: 100vh;
}

.app {
  max-width: 600px;
  margin: 0 auto;
}

header {
  text-align: center;
  padding: 20px 0;
}

header h1 {
  margin-top: 0;
  margin-bottom: 10px;
}

.add-todo-form {
  display: flex;
  margin-bottom: 35px;
}

.add-todo-form__input {
  border: none;
  outline: none;
  padding: 8px 12px 8px 0;
  width: 100%;
  background: transparent;
  border-bottom: 2px solid #fff;
  font-size: 1rem;
  color: #fff;
}

.add-todo-form__input::placeholder {
  color: rgba(255, 255, 255, .7);
}

.add-todo-form__btn-add {
  cursor: pointer;
  background-color: #4bd776;
  display: flex;
  margin-left: 20px;
  border-radius: 9999px;
  flex-basis: 120px;
  outline: none;
  border: none;
  justify-content: center;
  font-weight: 600;
  color: #fff;
}

.todo-list__btn-delete {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: #ee2121;
  color: #fff;
  padding: 8px 18px;
  border-radius: 9999px;
  max-height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn:hover {
  opacity: 0.8;
}

.todo-list {
  padding-left: 0;
}

.todo-list__item {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 68px;
  grid-column-gap: 25px;
  justify-content: space-between;
  align-items: center;
}

.todo-list__item + .todo-list__item{
  margin-top: 15px;
}

.todo-list__group {
  display: grid;
  grid-template-columns: 30px 1fr;
  grid-column-gap: 8px;
  align-items: center;
}

.todo-list__item-checkbox {
  margin: 0 10px 0 0;
  width: 30px;
  height: 30px;
}


footer {
  padding: 20px 0;
  text-align: center;
}

footer a {
  text-decoration: none;
  font-weight: bold;
  color: #fff;
}

@media (max-width: 740px) {
  .app {
    max-width: 85%;
  }
}